header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22rem;
}

.header-logo {
    width: 9.5rem;
    color: var(--color-primary);
    fill: currentColor;
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.menu-languageSelect {
    position: relative;
    display: flex;
    align-items: center;
}

.languageIcon {
    position: absolute;
    left: 0.6rem;
    color: var(--color-white);
}

.menu-languageSelect select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10rem;
    height: 2.1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0.2rem;
    color: white;
    background-color: rgb(36,35,32,0.8);
    color: white;
    border-radius: 0.2rem;
}

.arrowIcon {
    position: absolute;
    width: 2rem;
    right: 0.6rem;
    color: var(--color-white);
}

.menu-button {
    width: 5rem;
    height: 2.1rem;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    font-weight: bold;
}

.menu-button:hover {
    background-color: var(--color-secondary);
}